<div data-ng-controller="IbidTrainingController as ibidTrainingController">
	<div class="breadcrumbs">
		<div class="container">
			<div class="pull-left">
				<h2>{{ibidTrainingController.view.title}}</h2>
			</div>
			<div class="breadcrumb pull-right">
				<a ui-sref="{{ibidTrainingController.view.parentSref}}">{{ibidTrainingController.view.parentTitle}}</a>&nbsp;/&nbsp;<span class="color-green">{{ibidTrainingController.view.title}}</span>
			</div>
		</div>
	</div>

	<div class="container content-md">
		<div class="row">
			<div class="col-md-6">
				<h2 class="title-v2">Insurance Based Income Design</h2>
				<ul>
					<li>Determine the Forecasted Value of Your Client's Income in Retirement Using the Traditional Draw-Down Strategy (the 4% Rule)</li>
					<li>Put the Value of the Insurance Based Income in Perspective by Creating the Necessary Frame-of-Reference</li>
					<li>The Power of the IBID is that it Provides a Comparison that Will Demonstrate the Real Value of Your Recommended Solution, Giving Your Client the Confidence to Make an Immediate Decision!</li>
				</ul>
				<br>
				<a ui-sref="ibid" class="btn-u">Try It Out</a>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="/assets/img/sliders/2.jpg" alt="">
				<br/>
				<br/>
				<br/><br/><br/>
			</div>
		</div>
	</div>
</div>
