{% extends 'layouts/default.html' %}
{% block content %}
<div class="report">

	<div class="report-page">
		<!-- header -->
		<div class="header">
			<div class="row">
				<div class="col-sm-6"><h3>dcMax - Index Annuity Comparison</h3></div>
				<div class="col-sm-6"><h3 id="timestamp-label" class="pull-right"></h3></div>
			</div>
		</div>
		<!-- header -->
	</div>

	<div class="report-page" style="page-break-before: always">
		<p>
			Welcome to DCMAX, where retirement income planning is redefined.
		</p>
		<p>
			DID YOU KNOW?
		</p>
		<p>
		<p>
			<strong>FACT</strong>: Prior to the early 80’s, most Americans were provided a company-sponsored pension plan that would provide for a guaranteed retirement paycheck, usually based on a formula that took into account years of service and income level. This was the dominant form of retirement security for the vast majority of workers.
		</p>
		<p>
			<strong>FACT</strong>: These types of defined-benefit plans are expensive for a company to fund and administer and are rare today. The perceived need for a less-expensive retirement plan saw the rise of defined contribution plans where the company was not obligated to guarantee a retirement paycheck for the worker. Rather, the company allows the employee to defer a portion of their income into the plan and a matching contribution might be deposited into the plan for the employee by the employer.
		</p>
		<p>
			<strong>FACT</strong>: The move to defined contribution plans from defined benefit plans shifts the risk from the employer to the employee.
		</p>
		<p>
			<strong>FACT</strong>: Today, employees are faced with tough decisions about how to manage their company-sponsored retirement funds during their working years. Upon retirement, the employee becomes their own payroll department and must manage those funds to provide sustainable income for the entirety of their retirement years.
		</p>
		<p>
			<strong>FACT</strong>: DCMAX was designed to help clients understand the risks associated with income planning and to offer solutions to mitigate those risks and increase retirement income. DCMAX will demonstrate the value of alternate solutions by providing clients a unique perspective on income planning.
		</p>
	</div>

	<div class="report-page" style="page-break-before: always">
		<p>
			AFTER-TAX INCOME PLANNING... THE NEXT EVOLUTION
		</p>
		<p>
			Since 2006, defined contribution plans were allowed to feature an after-tax option known as the Roth 401k/403B/457. This option allows employees to defer, up to the applicable age-based maximum, dollars into the plan on an after-tax basis. This option allows the employee to pay taxes, currently, on the deferral and receive tax-free treatment when the money is withdrawn from the plan subject to satisfying the usual withdrawal requirements. The DCMAX philosophy encourages diversification of investments as well as across tax qualifications; both pre-tax and after-tax.</p>
		<p>
			FUNDING THE AFTER-TAX BUCKET
		</p>
		<p>
			Most defined contribution plans offer a menu of mutual funds, bonds, stocks and perhaps a guaranteed fund option. All of us have heard that we should have a well-diversified portfolio. The DCMAX program calls for an age-based approach to asset allocation. This will help provide guidance on how to allocate between stocks and bonds based on your age. Asset allocation can provide some level of protection against market fluctuations, but it does not guarantee that your retirement income plan will perform as intended. For example, in 2008 the S&P 500 index dropped a whopping 38% as a result of the financial crisis. What if you were set to retire in 2008? What effect would that have on your retirement income plan? Let’s take a look at an example below to illustrate the point:
		</p>
	</div>

	<div class="report-page" style="page-break-before: always">
		<p>
			THE 4% RULE... A STANDARD IS ADOPTED
		</p>
		<p>
			By the 1990’s it became evident that retirees were facing the problem described in the example above. The success of the income plan was dependent on HOW and WHEN the returns occurred. This problem lead to research that hoped to offer guidance on how to distribute your plan assets in a way that didn’t risk running out of money during your lifetime. The predominant method resulting from the research was known as the “4% rule”. This dictates that you can safely withdraw 4% of your account balance in your first year of retirement, and adjust that amount every year for an inflation factor. Let’s take a look at an example: Assume you retire with a balance of $200,000 in your 401k. The 4% rule allows for a first year withdrawal of $8,000. In year two, a withdrawal of $8240 would be permissible, assuming inflation of 3%. The 4% rule set the standard for how to safely design your income plan without the risk of running out of money during your lifetime.
		</p>

		<p>
			BEATING THE 4% RULE
		</p>
		<p>
			DCMAX was created to help you get more out of retirement. To do so we must challenge the status quo and bring new solutions to offer better retirement income with less risk. As mentioned above, DCMAX calls for the use of alternative investment concepts to create efficiencies, reduce risk, and provide better income than would normally be allowed.
		</p>

		<p>
			INDEXED UNIVERSAL LIFE INSURANCE THE CLEAR CHOICE
		</p>
		<p>
			As mentioned above, most defined contribution plans offer an investment menu consisting of mutual funds, stocks, bonds etc. We have now learned, from the example above, the effect that market fluctuations and performance can have on our retirement income plan. What if we could find a solution that offers the potential for tax-free retirement income and market based returns, but not the risk associated with the market? Let’s take a look at why Indexed Universal Life Insurance may be the right solution for you.
		</p>
	</div>

	<div class="report-page" style="page-break-before: always">
		<p>
			As you can see from the chart, IUL does not experience a loss when the market declines. If you recall from the sequence-of-returns example above, it was the the market fluctuations (and when they occurred) that the use of the 4% rule. If we can remove the risk of market declines in our portfolio, then we are not subject to only withdrawing 4%. Let’s see how utilizing an Indexed Universal Life Insurance contract can enhance our retirement income plan. Below is your customized report created by the DCMAX proprietary Insurance Based Income Designer (IBID). The IBID will demonstrate how an IUL will enhance your retirement income and verify the results.
		</p>

		<p>
			Your Personal Info:
		</p>

		<!-- client demographics -->
		<div class="frm-u">
			<header>
				Client Demographics
			</header>
			<fieldset>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="client-name-input">Client Name</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
								<input id="client-name-input" type="text" class="form-control" tabindex="0"/>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="insurance-company-input">Insurance Company</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-folder-open"></span></span>
								<input id="insurance-company-input" type="text" class="form-control" tabindex="0"/>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						&nbsp;
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="current-age-input">Current Age</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
								<input id="current-age-input" type="text" class="form-control" tabindex="0"/>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="initial-deposit-input">Initial Deposit</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
								<input id="initial-deposit-input" type="text" class="form-control" tabindex="0"/>
								<span class="input-group-addon">.00</span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="insurance-product-income-input">Annual Income</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
								<input id="insurance-product-income-input" type="text" class="form-control" tabindex="0"/>
								<span class="input-group-addon">.00</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="retirement-age-input">Retirement Age</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								<input id="retirement-age-input" type="text" class="form-control" tabindex="0"/>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="rate-of-return-input">Gross Rate of Return</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
								<input id="rate-of-return-input" type="text" class="form-control" tabindex="0"/>
								<span class="input-group-addon">%&nbsp;</span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="initial-withdrawal-input">Initial Withdrawal</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
								<input id="initial-withdrawal-input" type="text" class="form-control" tabindex="0"/>
								<span class="input-group-addon">%&nbsp;</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="number-of-periods-input">Number of Retirement Years</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								<input id="number-of-periods-input" type="text" class="form-control" tabindex="0"/>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="management-fee-input">Management Fee</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
								<input id="management-fee-input" type="text" class="form-control" tabindex="0"/>
								<span class="input-group-addon">%&nbsp;</span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="inflation-rate-input">Annual Inflation Rate</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
								<input id="inflation-rate-input" type="text" class="form-control" tabindex="0"/>
								<span class="input-group-addon">%&nbsp;</span>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		<!-- client demographics -->

		<div class="frm-u">
			<header>Your First Year Of Retirement</header>
			<fieldset>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="baseline-investment-income-input">Income From 4% Rule</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
								<input id="baseline-investment-income-input" type="text" class="form-control" tabindex="0"/>
								<span class="input-group-addon">.00</span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="baseline-rate-of-return-input">Annual Rate of Return</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
								<input id="baseline-rate-of-return-input" type="text" class="form-control" tabindex="0"/>
								<span class="input-group-addon">%&nbsp;</span>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
			<footer>
				<div id="baseline-chart"></div>
			</footer>
		</div>
	</div>

	<div class="report-page" style="page-break-before: always">
		<!-- break-even analysis -->
		<div class="frm-u">
			<header>Your First Year Of Retirement</header>
			<fieldset>
				<fieldset>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="break-even-insurance-product-income-input">Income From Annuity</label>
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
									<input id="break-even-insurance-product-income-input" type="text" class="form-control" tabindex="0"/>
									<span class="input-group-addon">.00</span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="break-even-investment-income-input">Income From 4% Rule</label>
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
									<input id="break-even-investment-income-input" type="text" class="form-control" tabindex="0"/>
									<span class="input-group-addon">.00</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="break-even-income-differential-input">Index Annuity Advantage</label>
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-thumbs-up"></span></span>
									<input id="break-even-income-differential-input" type="text" class="form-control" tabindex="0"/>
									<span class="input-group-addon">%&nbsp;</span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<label for="break-even-rate-of-return-input">Annual Rate Of Return</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
								<input id="break-even-rate-of-return-input" type="text" class="form-control" tabindex="0"/>
								<span class="input-group-addon">%&nbsp;</span>
							</div>
						</div>
					</div>
				</fieldset>
			</fieldset>
			<footer>
				<div id="break-even-analysis-chart"></div>
				<hr/>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="break-even-age-input">Break-Even Age</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
								<input id="break-even-age-input" type="text" class="form-control" tabindex="0"/>
							</div>
						</div>
						<div class="form-group">
							<label>Break-Even Age Never Reached</label>
						</div>
					</div>
					<div class="col-md-6">
						&nbsp;
					</div>
				</div>
			</footer>
		</div>
	</div>

	<div class="report-page" style="page-break-before: always">
		<!-- periodic analysis -->
		<div class="frm-u">
			<header>Your "Go-Go" Years</header>
			<fieldset>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="periodic-insurance-product-income-input">Income From Annuity</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
								<input id="periodic-insurance-product-income-input" type="text" class="form-control" tabindex="0"/>
								<span class="input-group-addon">.00</span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="periodic-investment-income-input">Income From 4% Rule</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
								<input id="periodic-investment-income-input" type="text" class="form-control" tabindex="0"/>
								<span class="input-group-addon">.00</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="periodic-income-differential-input">Index Annuity Advantage</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-thumbs-up"></span></span>
								<input id="periodic-income-differential-input" type="text" class="form-control" tabindex="0"/>
								<span class="input-group-addon">%&nbsp;</span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<label for="periodic-rate-of-return-input">Annual Rate Of Return</label>
						<div class="input-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
							<input id="periodic-rate-of-return-input" type="text" class="form-control" tabindex="0"/>
							<span class="input-group-addon">%&nbsp;</span>
						</div>
					</div>
				</div>
			</fieldset>
			<footer>
				<div id="periodic-chart"></div>
				<hr/>
				<div class="row">
					<div class="col-md-4">
						<div class="panel panel-success">
							<div class="panel-heading">
								<h3 class="panel-title">Go-Go Years</h3>
								<h4><span id="gogo-income-differential-label"></span>% Advantage</h4>
							</div>
							<table class="table">
								<thead>
								<tr>
									<th>Age</th>
									<th>Annuity</th>
									<th>4% Rule</th>
								</tr>
								</thead>
								<tbody id="gogo-payout-rows"></tbody>
							</table>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-warning">
							<div class="panel-heading">
								<h3 class="panel-title">Slow-Go Years</h3>
								<h4><span id="slowgo-income-differential-label"></span>% Advantage</h4>
							</div>
							<table class="table">
								<thead>
								<tr>
									<th>Age</th>
									<th>Annuity</th>
									<th>4% Rule</th>
								</tr>
								</thead>
								<tbody id="slowgo-payout-rows"></tbody>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-danger">
							<div class="panel-heading">
								<h3 class="panel-title">No-Go Years</h3>
								<h4><span id="nogo-income-differential-label"></span>% Advantage</h4>
							</div>
							<table class="table">
								<thead>
								<tr>
									<th>Age</th>
									<th>Annuity</th>
									<th>4% Rule</th>
								</tr>
								</thead>
								<tbody id="nogo-payout-rows"></tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- periodic analysis -->
	</div>

	<div class="report-page" style="page-break-before: always">
		<p>
			Contingency Benefits
		</p>
		<p>
			Roth vs IUL Matrix
		</p>
	</div>

	<div class="report-page" style="page-break-before: always">
		<p>
			Disclosures
		</p>
	</div>
</div>

{% endblock %}

{% block _scripts %}
{% parent %}
<script type="text/javascript" src="/assets/js/abidReport.js"></script>
{% include 'includes/_abid.init.html' %}
{% endblock %}
