<div data-ng-controller="ForgotPasswordController as forgotPasswordController">
	<div class="breadcrumbs">
		<div class="container">
			<div class="pull-left">
				<h2>{{forgotPasswordController.view.title}}</h2>
			</div>
			<div class="breadcrumb pull-right">
				<a ui-sref="{{forgotPasswordController.view.parentSref}}">{{forgotPasswordController.view.parentTitle}}</a>&nbsp;/&nbsp;<span class="color-green">{{forgotPasswordController.view.title}}</span>
			</div>
		</div>
	</div>

	<div class="container content">
		<form class="frm-u" name="forgotPasswordController.forgotFrm" novalidate>
			<header>Reset your password</header>
			<fieldset>
				<div class="form-group" bs-has>
					<label for="email-input">E-mail</label>

					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
						<input id="email-input" type="email" name="email" ng-model="forgotPasswordController.user.email" class="form-control" focus-on="firstOpened" required tabindex="0"/>
					</div>
					<span class="has-error" ng-show="forgotPasswordController.forgotFrm.email.$dirty && forgotPasswordController.forgotFrm.email.$invalid">
						<span ng-show="forgotPasswordController.forgotFrm.email.$error.required">E-mail is required.</span>
					</span>
				</div>
			</fieldset>
			<footer>
				<input class="btn-u" type="submit" data-ng-click="forgotPasswordController.forgotPassword(forgotPasswordController.user)" value="Forgot Password" tabindex="0"/>

				<div ng-repeat="error in forgotPasswordController.errors">
					<div class="alert alert-danger animated fadeIn">{{error.message}}</div>
				</div>
				<hr>
				<h4>Change your mind?</h4>

				<p><a class="green" ui-sref='login'>Click here</a> to login.</p>
			</footer>
		</form>
	</div>
</div>
