<div data-ng-controller="IbidController as ibidController">
	<div class="breadcrumbs">
		<div class="container">
			<div class="pull-left">
				<h2>{{ibidController.view.title}}</h2>
			</div>
			<div class="breadcrumb pull-right">
				<a ui-sref="{{ibidController.view.parentSref}}">{{ibidController.view.parentTitle}}</a>&nbsp;/&nbsp;<span class="color-green">{{ibidController.view.title}}</span>
			</div>
		</div>
	</div>

	<div class="container content">
		<div class="row">
			<div class="col-md-4">
				<form name="ibidController.ibidFrm" novalidate>
					<uib-accordion close-others="false">
						<uib-accordion-group is-open="ibidController.status.firstOpen">

							<uib-accordion-heading>
								General
								<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ibidController.status.firstOpen, 'glyphicon-chevron-right': !ibidController.status.firstOpen}"></i>
							</uib-accordion-heading>

							<div class="form-group" bs-has>
								<label for="current-age-input">Current Age</label>
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
									<input id="current-age-input" type="number" name="currentAge" ng-model="ibidController.worksheet.currentAge" class="form-control" focus-on="firstOpened" required tabindex="0"/>
								</div>
								<span class="has-error" ng-show="ibidController.ibidFrm.currentAge.$dirty && ibidController.ibidFrm.currentAge.$invalid">
									<span ng-show="ibidController.ibidFrm.currentAge.$error.required">Current Age is required.</span>
								</span>
							</div>

							<div class="form-group" bs-has>
								<label for="retirement-age-input">Retirement Age</label>
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
									<input id="retirement-age-input" type="number" name="retirementAge" ng-model="ibidController.worksheet.retirementAge" class="form-control" required tabindex="0"/>
								</div>
								<span class="has-error" ng-show="ibidController.ibidFrm.retirementAge.$dirty && ibidController.ibidFrm.retirementAge.$invalid">
									<span ng-show="ibidController.ibidFrm.retirementAge.$error.required">Retirement Age is required.</span>
								</span>
							</div>

							<div class="form-group" bs-has>
								<label for="number-of-periods-input">Number of Retirement Years</label>
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
									<input id="number-of-periods-input" type="number" name="numberOfPeriods" ng-model="ibidController.worksheet.numberOfPeriods" class="form-control" required tabindex="0"/>
								</div>
								<span class="has-error" ng-show="ibidController.ibidFrm.numberOfPeriods.$dirty && ibidController.ibidFrm.numberOfPeriods.$invalid">
									<span ng-show="ibidController.ibidFrm.numberOfPeriods.$error.required">Number of Retirement Years is required.</span>
								</span>
							</div>

							<input class="btn-u btn-u-default" type="button" data-ng-click="ibidController.reset()" value="Reset" tabindex="-1"/>
							<input class="btn-u" type="submit" data-ng-click="ibidController.updateGeneral(ibidController.worksheet)" value="Continue" tabindex="0"/>

						</uib-accordion-group>
						<uib-accordion-group is-open="ibidController.status.secondOpen">

							<uib-accordion-heading>
								Investment Account
								<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ibidController.status.secondOpen, 'glyphicon-chevron-right': !ibidController.status.secondOpen}"></i>
							</uib-accordion-heading>

							<div class="form-group" bs-has>
								<label for="annual-deposit-input">Annual Contribution</label>
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
									<input id="annual-deposit-input" type="number" name="annualDeposit" ng-model="ibidController.worksheet.annualDeposit" focus-on="secondOpened" class="form-control" required tabindex="0"/>
									<span class="input-group-addon">.00</span>
								</div>
								<span class="has-error" ng-show="ibidController.ibidFrm.annualDeposit.$dirty && ibidController.ibidFrm.annualDeposit.$invalid">
									<span ng-show="ibidController.ibidFrm.annualDeposit.$error.required">Annual Deposit is required.</span>
								</span>
							</div>

							<div class="form-group" bs-has>
								<label for="growth-rate-input">Annual Contribution Increase</label>
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
									<input id="growth-rate-input" type="number" name="growthRate" ng-model="ibidController.worksheet.growthRate" class="form-control" required tabindex="0"/>
									<span class="input-group-addon">%&nbsp;</span>
								</div>
								<span class="has-error" ng-show="ibidController.abidFrm.growthRate.$dirty && ibidController.abidFrm.growthRate.$invalid">
									<span ng-show="ibidController.abidFrm.growthRate.$error.required">Gross Rate is required.</span>
								</span>
							</div>

							<div class="form-group" bs-has>
								<label for="rate-of-return-input">Gross Rate of Return</label>
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
									<input id="rate-of-return-input" type="number" name="rateOfReturn" ng-model="ibidController.worksheet.rateOfReturn" class="form-control" required tabindex="0"/>
									<span class="input-group-addon">%&nbsp;</span>
								</div>
								<span class="has-error" ng-show="ibidController.ibidFrm.rateOfReturn.$dirty && ibidController.ibidFrm.rateOfReturn.$invalid">
									<span ng-show="ibidController.ibidFrm.rateOfReturn.$error.required">Gross Rate of Return is required.</span>
								</span>
							</div>

							<div class="form-group" bs-has>
								<label for="management-fee-input">Management Fee</label>
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
									<input id="management-fee-input" type="number" name="managementFee" ng-model="ibidController.worksheet.managementFee" class="form-control" required tabindex="0"/>
									<span class="input-group-addon">%&nbsp;</span>
								</div>
								<span class="has-error" ng-show="ibidController.ibidFrm.managementFee.$dirty && ibidController.ibidFrm.managementFee.$invalid">
									<span ng-show="ibidController.ibidFrm.managementFee.$error.required">Management Fee is required.</span>
								</span>
							</div>

							<input class="btn-u btn-u-default" type="button" data-ng-click="ibidController.reset()" value="Reset" tabindex="-1"/>
							<input class="btn-u" type="submit" data-ng-click="ibidController.getBaseline(ibidController.worksheet)" value="Plot 4%" tabindex="0"/>

						</uib-accordion-group>
						<uib-accordion-group is-open="ibidController.status.thirdOpen">

							<uib-accordion-heading>
								Index UL
								<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ibidController.status.thirdOpen, 'glyphicon-chevron-right': !ibidController.status.thirdOpen}"></i>
							</uib-accordion-heading>

							<div class="form-group" bs-has>
								<label for="insurance-product-income-input">Annual Income</label>
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
									<input id="insurance-product-income-input" type="number" name="insuranceProductIncome" ng-model="ibidController.worksheet.insuranceProductIncome" class="form-control" focus-on="thirdOpened" required tabindex="0"/>
									<span class="input-group-addon">.00</span>
								</div>
								<span class="has-error" ng-show="ibidController.ibidFrm.insuranceProductIncome.$dirty && ibidController.ibidFrm.insuranceProductIncome.$invalid">
									<span ng-show="ibidController.ibidFrm.insuranceProductIncome.$error.required">Annual Income is required.</span>
								</span>
							</div>

							<input class="btn-u btn-u-default" type="button" data-ng-click="ibidController.reset()" value="Reset" tabindex="-1"/>
							<input class="btn-u" type="submit" data-ng-click="ibidController.getBreakEvenAnalysis(ibidController.worksheet)" value="Compare" tabindex="0"/>

							<hr>

							<p ng-show="ibidController.status.advancedOptionsDisabled">Subscribe to Modify Options</p>

							<div class="form-group" bs-has>
								<label for="initial-withdrawal-input">Initial Withdrawal</label>
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
									<input id="initial-withdrawal-input" type="number" name="initialWithdrawal" ng-model="ibidController.worksheet.initialWithdrawal" class="form-control" required ng-disabled="ibidController.status.advancedOptionsDisabled" tabindex="0"/>
									<span class="input-group-addon">%&nbsp;</span>
								</div>
								<span class="has-error" ng-show="ibidController.ibidFrm.initialWithdrawal.$dirty && ibidController.ibidFrm.initialWithdrawal.$invalid">
									<span ng-show="ibidController.ibidFrm.initialWithdrawal.$error.required">Annual Withdrawal is required.</span>
								</span>
							</div>

							<div class="form-group" bs-has>
								<label for="inflation-rate-input">Annual Inflation Rate</label>
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
									<input id="inflation-rate-input" type="number" name="inflationRate" ng-model="ibidController.worksheet.inflationRate" class="form-control" required ng-disabled="ibidController.status.advancedOptionsDisabled" tabindex="0"/>
									<span class="input-group-addon">%&nbsp;</span>
								</div>
								<span class="has-error" ng-show="ibidController.ibidFrm.inflationRate.$dirty && ibidController.ibidFrm.inflationRate.$invalid">
									<span ng-show="ibidController.ibidFrm.inflationRate.$error.required">Annual Inflation Rate is required.</span>
								</span>
							</div>

							<div class="form-group">
								<label for="client-name-input">Client Name</label>
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
									<input id="client-name-input" type="text" name="clientName" ng-model="ibidController.worksheet.clientName" class="form-control" ng-disabled="ibidController.status.advancedOptionsDisabled" tabindex="0"/>
								</div>
							</div>

							<div class="form-group">
								<label for="insurance-company-input">Insurance Company</label>
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-folder-open"></span></span>
									<input id="insurance-company-input" type="text" name="insuranceCompany" ng-model="ibidController.worksheet.insuranceCompany" class="form-control" ng-disabled="ibidController.status.advancedOptionsDisabled" tabindex="0"/>
								</div>
							</div>

							<input class="btn-u" type="submit" data-ng-click="ibidController.getPdf(ibidController.worksheet)" value="Generate Pdf" ng-disabled="ibidController.status.advancedOptionsDisabled" tabindex="0"/>

						</uib-accordion-group>
					</uib-accordion>
				</form>
			</div>
			<div class="col-md-8">
				<uib-tabset justified="true">
					<uib-tab heading="4% Baseline" active="ibidController.status.baselineActive">
						<div class="frm-u" ng-show="ibidController.status.baselineVisible">
							<header>Your First Year Of Retirement</header>
							<fieldset>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="baseline-investment-income-input">Income From 4% Rule</label>
											<div class="input-group">
												<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
												<input id="baseline-investment-income-input" type="number" ng-model="ibidController.baseline.firstPayout.cumulativeInvestmentIncome" class="form-control" tabindex="-1" readonly/>
												<span class="input-group-addon">.00</span>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="baseline-rate-of-return-input">Annual Rate of Return</label>
											<div class="input-group">
												<span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
												<input id="baseline-rate-of-return-input" type="number" ng-model="ibidController.baseline.grossRateOfReturn" class="form-control" tabindex="-1" readonly/>
												<span class="input-group-addon">%&nbsp;</span>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
							<footer>
								<chart value="ibidController.baselineChart"></chart>
							</footer>
						</div>
					</uib-tab>
					<uib-tab heading="Break-Even Analysis" active="ibidController.status.breakEvenAnalysisActive">
						<div class="frm-u" ng-show="ibidController.status.breakEvenAnalysisVisible">
							<header>Your First Year Of Retirement</header>
							<fieldset>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="break-even-insurance-product-income-input">Income From UL</label>
											<div class="input-group">
												<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
												<input id="break-even-insurance-product-income-input" type="number" ng-model="ibidController.breakEvenAnalysis.firstPayout.cumulativeInsuranceProductIncome" class="form-control" tabindex="-1" readonly/>
												<span class="input-group-addon">.00</span>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="break-even-investment-income-input">Income From 4% Rule</label>
											<div class="input-group">
												<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
												<input id="break-even-investment-income-input" type="number" ng-model="ibidController.breakEvenAnalysis.firstPayout.cumulativeInvestmentIncome" class="form-control" tabindex="-1" readonly/>
												<span class="input-group-addon">.00</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="break-even-income-differential-input">Index UL Advantage</label>
											<div class="input-group">
												<span class="input-group-addon"><span class="glyphicon glyphicon-thumbs-up"></span></span>
												<input id="break-even-income-differential-input" type="number" ng-model="ibidController.breakEvenAnalysis.firstPayout.cumulativeIncomeDifferential" class="form-control" tabindex="-1" readonly/>
												<span class="input-group-addon">%&nbsp;</span>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<label for="break-even-rate-of-return-input">Annual Rate Of Return</label>
										<div class="input-group">
											<span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
											<input id="break-even-rate-of-return-input" type="number" ng-model="ibidController.breakEvenAnalysis.grossRateOfReturn" class="form-control" tabindex="-1" readonly/>
											<span class="input-group-addon">%&nbsp;</span>
										</div>
									</div>
								</div>
							</fieldset>
							<footer>
								<chart value="ibidController.breakEvenAnalysisChart"></chart>
								<hr/>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group" ng-show="ibidController.breakEvenAnalysis.breakEvenAge">
											<label for="break-even-age-input">Break-Even Age</label>
											<div class="input-group">
												<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
												<input id="break-even-age-input" type="number" ng-model="ibidController.breakEvenAnalysis.breakEvenAge" class="form-control" tabindex="-1" readonly/>
											</div>
										</div>
										<div class="form-group" ng-show="!ibidController.breakEvenAnalysis.breakEvenAge">
											<label>Break-Even Age Never Reached</label>
										</div>
									</div>
									<div class="col-md-6">
										&nbsp;
									</div>
								</div>
							</footer>
						</div>
					</uib-tab>
					<uib-tab heading="Periodic Analysis" active="ibidController.status.cumulativePayoutActive">
						<div class="frm-u" ng-show="ibidController.status.cumulativePayoutVisible">
							<header>Your "Go-Go" Years</header>
							<fieldset>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="periodic-insurance-product-income-input">Income From UL</label>
											<div class="input-group">
												<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
												<input id="periodic-insurance-product-income-input" type="number" ng-model="ibidController.breakEvenAnalysis.firstPeriodicPayout.cumulativeInsuranceProductIncome" class="form-control" tabindex="-1" readonly/>
												<span class="input-group-addon">.00</span>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="periodic-investment-income-input">Income From 4% Rule</label>
											<div class="input-group">
												<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
												<input id="periodic-investment-income-input" type="number" ng-model="ibidController.breakEvenAnalysis.firstPeriodicPayout.cumulativeInvestmentIncome" class="form-control" tabindex="-1" readonly/>
												<span class="input-group-addon">.00</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="periodic-income-differential-input">Index UL Advantage</label>
											<div class="input-group">
												<span class="input-group-addon"><span class="glyphicon glyphicon-thumbs-up"></span></span>
												<input id="periodic-income-differential-input" type="number" ng-model="ibidController.breakEvenAnalysis.firstPeriodicPayout.cumulativeIncomeDifferential" class="form-control" tabindex="-1" readonly/>
												<span class="input-group-addon">%&nbsp;</span>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<label for="periodic-rate-of-return-input">Annual Rate Of Return</label>
										<div class="input-group">
											<span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
											<input id="periodic-rate-of-return-input" type="number" ng-model="ibidController.breakEvenAnalysis.grossRateOfReturn" class="form-control" tabindex="-1" readonly/>
											<span class="input-group-addon">%&nbsp;</span>
										</div>
									</div>
								</div>
							</fieldset>
							<footer>
								<chart value="ibidController.cumulativePayoutChart"></chart>
								<hr/>
								<div class="row">
									<div class="col-md-4">
										<div class="panel panel-success">
											<div class="panel-heading">
												<h3 class="panel-title">Go-Go Years</h3>
												<h4>{{ibidController.breakEvenAnalysis.periodicSeriesData.seriesC[0]}}% Advantage</h4>
											</div>
											<table class="table">
												<thead>
												<tr>
													<th>Age</th>
													<th>UL</th>
													<th>4% Rule</th>
												</tr>
												</thead>
												<tbody>
												<tr ng-repeat="payout in ibidController.breakEvenAnalysis.gogoPayouts">
													<th scope="row">{{payout.age}}</th>
													<td>{{payout.cumulativeInsuranceProductIncome|currency:'$':0}}</td>
													<td>{{payout.cumulativeInvestmentIncome|currency:'$':0}}</td>
												</tbody>
											</table>
										</div>
									</div>
									<div class="col-md-4">
										<div class="panel panel-warning">
											<div class="panel-heading">
												<h3 class="panel-title">Slow-Go Years</h3>
												<h4>{{ibidController.breakEvenAnalysis.periodicSeriesData.seriesC[1]}}% Advantage</h4>
											</div>
											<table class="table">
												<thead>
												<tr>
													<th>Age</th>
													<th>UL</th>
													<th>4% Rule</th>
												</tr>
												</thead>
												<tbody>
												<tr ng-repeat="payout in ibidController.breakEvenAnalysis.slowgoPayouts">
													<th scope="row">{{payout.age}}</th>
													<td>{{payout.cumulativeInsuranceProductIncome|currency:'$':0}}</td>
													<td>{{payout.cumulativeInvestmentIncome|currency:'$':0}}</td>
												</tbody>
											</table>
										</div>
									</div>
									<div class="col-md-4">
										<div class="panel panel-danger">
											<div class="panel-heading">
												<h3 class="panel-title">No-Go Years</h3>
												<h4>{{ibidController.breakEvenAnalysis.periodicSeriesData.seriesC[2]}}% Advantage</h4>
											</div>
											<table class="table">
												<thead>
												<tr>
													<th>Age</th>
													<th>UL</th>
													<th>4% Rule</th>
												</tr>
												</thead>
												<tbody>
												<tr ng-repeat="payout in ibidController.breakEvenAnalysis.nogoPayouts">
													<th scope="row">{{payout.age}}</th>
													<td>{{payout.cumulativeInsuranceProductIncome|currency:'$':0}}</td>
													<td>{{payout.cumulativeInvestmentIncome|currency:'$':0}}</td>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</footer>
						</div>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
	</div>
</div>
