<div data-ng-controller="HomeController as homeController">
	<!--=== Slider ===-->
	<div class="ms-layers-template">
		<!-- masterslider -->
		<div class="master-slider ms-skin-black-2 round-skin" id="masterslider">
			<div class="ms-slide" style="z-index: 10">
				<img src="/assets/lib/masterslider/style/blank.gif" data-src="/assets/img/bg/img2.jpg" alt="">
				<div class="ms-layer ms-promo-info color-light" style="left:15px; top:160px" data-effect="bottom(40)" data-duration="2000" data-delay="700" data-ease="easeOutExpo">Introducing
				</div>

				<div class="ms-layer ms-promo-info ms-promo-info-in color-light" style="left:15px; top:210px" data-effect="bottom(40)" data-duration="2000" data-delay="1000" data-ease="easeOutExpo">
					<span class="color-green">Income</span> Perspectives
				</div>

				<div class="ms-layer ms-promo-sub color-light" style="left:15px; top:310px" data-effect="bottom(40)" data-duration="2000" data-delay="1300" data-ease="easeOutExpo">We offer proven and trusted INDEX ANNUITY and INDEX UL
					<br> financial tools to enhance your client's portfolio.
				</div>


				<a ui-sref="abid" class="ms-layer btn-u" style="left:15px; top:390px" href="#" data-effect="bottom(40)" data-duration="2000" data-delay="1300" data-ease="easeOutExpo">INDEX ANNUITY</a>

				<a ui-sref="ibid" class="ms-layer btn-u btn-u-dark" style="left:150px; top:390px" href="#" data-effect="bottom(40)" data-duration="2000" data-delay="1300" data-ease="easeOutExpo">INDEX UL</a>
			</div>

			<div class="ms-slide" style="z-index: 13">
				<img src="/assets/lib/masterslider/style/blank.gif" data-src="/assets/img/bg/img4.jpg" alt="">

				<img class="ms-layer" src="/assets/lib/masterslider/style/blank.gif" data-src="/assets/img/mockup/white-ipad.png" alt="" style="bottom:-10px; left:15px; width:400px; height: auto;" data-effect="bottom(100)" data-duration="2000" data-ease="easeOutExpo" data-type="image"/>

				<h3 class="ms-layer ms-promo-info-in color-light" style="left:450px; top:170px;" data-effect="right(40)" data-duration="2300" data-delay="1300" data-ease="easeOutExpo">PROVEN</h3>

				<h3 class="ms-layer ms-promo-info-in color-darker" style="left:450px; top:230px" data-effect="left(40)" data-duration="2300" data-delay="1400" data-ease="easeOutBack">TRUSTED</h3>

				<h3 class="ms-layer ms-promo-info-in color-darker" style="left:450px; top:290px" data-effect="left(40)" data-duration="2300" data-delay="1400" data-ease="easeOutBack">AND
					<span class="color-light">SUCCESSFUL</span></h3>

				<a ui-sref="abid" class="ms-layer btn-u" style="left:450px; top:370px" href="#" data-effect="bottom(40)" data-duration="2000" data-delay="1300" data-ease="easeOutExpo">INDEX ANNUITY</a>

				<a ui-sref="ibid" class="ms-layer btn-u btn-u-dark" style="left:580px; top:370px" href="#" data-effect="bottom(40)" data-duration="2000" data-delay="1300" data-ease="easeOutExpo">INDEX UL</a>
			</div>

			<div class="ms-slide" style="z-index: 12">
				<img src="/assets/lib/masterslider/style/blank.gif" data-src="/assets/img/bg/img3.jpg" alt="">

				<div class="ms-layer video-box" style="bottom:125px; right:15px; width:650px; height:370px;" data-type="video" data-effect="rotate3dright(0,30,0,100,r)" data-duration="1500" data-ease="easeOutQuad">
					<img class="ms-img-bordered" src="/assets/lib/masterslider/style/blank.gif" data-src="/assets/img/main/img20.jpg" alt="">
					<iframe src="https://player.vimeo.com/video/70528799" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>

				<h3 class="ms-layer ms-promo-info color-light" style="left:10px; top:170px" data-effect="bottom(20)" data-duration="2300" data-delay="2300" data-ease="easeOutExpo">AMAZING</h3>

				<h3 class="ms-layer ms-promo-info-in color-light" style="left:10px; top:245px" data-effect="left(100)" data-duration="3300" data-delay="1900" data-ease="easeOutExpo">
					<span class="color-green">RESULTS</span></h3>

				<h3 class="ms-layer normal-title color-light" style="left:10px; top:312px" data-effect="bottom(20)" data-duration="2300" data-delay="2000" data-ease="easeOutExpo">INDEX ANNUITY AND INDEX UL</h3>

				<p class="ms-layer ms-promo-sub ms-promo-sub-in color-light" style="left:10px; top:360px" data-effect="right(40)" data-duration="2300" data-delay="2300" data-ease="easeOutExpo">INSURANCE BASED
					<br> INCOME</p>

				<a ui-sref="abid" class="ms-layer btn-u" style="left:7px; top:440px" href="#" data-effect="bottom(40)" data-duration="2000" data-delay="1300" data-ease="easeOutExpo">INDEX ANNUITY</a>

				<a ui-sref="ibid" class="ms-layer btn-u btn-u-dark" style="left:142px; top:440px" href="#" data-effect="bottom(40)" data-duration="2000" data-delay="1300" data-ease="easeOutExpo">INDEX UL</a>
			</div>
		</div>
		<!-- end of masterslider -->
	</div>
	<!--=== End Slider ===-->

	<!--=== Call To Action ===-->
	<div class="call-action-v1 bg-color-light">
		<div class="container">
			<div class="call-action-v1-box">
				<div class="call-action-v1-in">
					<p>Income Perspectives - turnkey systems to enhance your client's financial assets.</p>
				</div>
				<div class="call-action-v1-in inner-btn page-scroll">
					<a ui-sref="subscribe" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">REGISTER TODAY</a>
				</div>
			</div>
		</div>
	</div>
	<!--=== End Call To Action ===-->

	<!-- About Info -->
	<div class="container content-md">
		<br>
		<div class="row">
			<div class="col-md-6">
				<h2 class="title-v2">WE ARE INCOME PERSPECTIVES</h2>
				<p>Retirement income planning is redefined.</p>
				<p>Whether you’re an active investor or a long-term financial planner, our web and mobile platform gives you everything you need to design income based retirement plans, and grow your sales pipleline with access to training, marketing, research, and specialists with years of investment sales experience.</p>
				<br>
				<a ui-sref="valueProposition" class="btn-u btn-brd btn-brd-hover btn-u-dark">Value Proposition</a>
				<a ui-sref="contactUs" class="btn-u">Contact Us</a>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="/assets/img/sliders/2.jpg" alt="">
				<br/>
				<br/>
				<br/><br/><br/>
			</div>
		</div>
	</div>
	<!-- End About Info -->

	<!--=== Parallax Quote ===-->
	<div class="parallax-quote parallaxBg">
		<div class="container">
			<div class="parallax-quote-in">
				<p>When you need a trusted retirement income planner
					<span class="color-green">Income</span> Perspectives will help you find them.
					<br> Just Believe It.</p>
				<small>- Novus Annuity -</small>
			</div>
		</div>
	</div>
	<!--=== End Parallax Quote ===-->

	<!--=== Service Blcoks ===-->
	<div class="container content-md">
		<div class="text-center margin-bottom-50">
			<h2 class="title-v2 title-center">OUR SERVICES</h2>
			<p class="space-lg-hor">When You Need A Trusted Partner
				<span class="color-green">Income Perspectives</span> is proud to help you, and your clients pursue their financial goals. We enable you to give more time to focus on what really matters in life. From our
									knowledgeable guidance to powerful trading tools and
				<span class="color-green">retirement resources</span>, we'll help you head into the future knowing you're on the right track to do what you're passionate about.
			</p>
		</div>

		<!-- Service Blcoks -->
		<div class="row service-box-v1">
			<div class="col-md-4 col-sm-6 md-margin-bottom-40">
				<div class="service-block service-block-default no-margin-bottom">
					<i class="icon-lg rounded-x icon icon-badge"></i>
					<h2 class="heading-sm">Proven Retirement Income Designs</h2>
					<p>Make smarter investing decisions with access to innovative resources, videos, and training from
						<span class="color-green">Income Perspectives</span>.</p>
					<ul class="list-unstyled">
						<li>Annuities</li>
						<li>Universal Life</li>
						<li>4% Rule</li>
						<li>Roth IRAs</li>
						<li>Retirement Investment Accounts</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 md-margin-bottom-40">
				<div class="service-block service-block-default no-margin-bottom">
					<i class="icon-lg rounded-x icon-line icon-trophy"></i>
					<h2 class="heading-sm">Sales &amp; Consulting</h2>
					<p>We know it’s important to get professional guidance you can trust. That’s why our experienced, licensed reps are available by phone, email, online, and in-person for one-on-one support – when you need it most.</p>
					<ul class="list-unstyled">
						<li>Analysis &amp; Consulting</li>
						<li>E-mail Marketing</li>
						<li>Social Networking</li>
						<li>Documentation</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="service-block service-block-default no-margin-bottom">
					<i class="icon-lg rounded-x icon-line icon-layers"></i>
					<h2 class="heading-sm">Marketing &amp; Advertising</h2>
					<p>We've Partnered with
						<span class="color-green">Trusted Marketing Firms</span> to provide you with industry leading research, analysis, and materials.
					</p>
					<ul class="list-unstyled">
						<li>Web Advertising</li>
						<li>Proposal &amp; Prospectus Design</li>
						<li>Analysis &amp; Consulting</li>
						<li>Google AdSense</li>
						<li>Social Media</li>
						<li>Google/Bing Analysis</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Service Blcoks -->
	</div>
	<!--=== End Service Blcoks ===-->

	<!--=== Carallax Counter v1 ===-->
	<div class="parallax-counter-v1 parallaxBg" style="background-position: 50% 20px;">
		<div class="container">
			<h2 class="title-v2 title-light title-center">SOME NUMBERS ABOUT US</h2>
			<p class="space-xlg-hor text-center color-light">The Income Perspectives Team has over 100 years of combined experience in selling and marketing income based retirment plans. We bring a wide array of skills and fresh perspectives to your business.</p>

			<div class="margin-bottom-40"></div>

			<div class="row margin-bottom-10">
				<div class="col-sm-3 col-xs-6">
					<div class="counters">
						<span class="counter">20</span>
						<h4>Financial Planners</h4>
					</div>
				</div>
				<div class="col-sm-3 col-xs-6">
					<div class="counters">
						<span class="counter">52</span>
						<h4>Fortune 500 Clients</h4>
					</div>
				</div>
				<div class="col-sm-3 col-xs-6">
					<div class="counters">
						<span class="counter">100</span>
						<h4>Marketing Consultants</h4>
					</div>
				</div>
				<div class="col-sm-3 col-xs-6">
					<div class="counters">
						<span class="counter">14</span>
						<h4>Awards</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--=== End Carallax Counter v1 ===-->

	<!--=== Testimonials v6 ===-->
	<div class="bg-color-light">
		<div class="container content-sm">
			<div class="headline-center margin-bottom-60">
				<h2>WHAT PEOPLE SAY</h2>
				<p>And Now, a Word From Our Sponsors... Our Clients</p>
				<p>
					<span class="color-green">Income Perspectives</span> has grown for 10 years and counting because our clients are our number one priority. We are dedicated to superior service and to helping each client achieve his or her financial goals.
																		 Many of our clients have been with
					<span class="color-green">Income Perspectives</span> for years; others are recent subscribers. Those who have recently joined us are still discovering everything we have to offer.
			</div>

			<!-- Testimonials Wrap -->
			<div class="testimonials-v6 testimonials-wrap">
				<div class="row margin-bottom-50">
					<div class="col-md-6 md-margin-bottom-50">
						<div class="testimonials-info rounded-bottom">
							<img class="rounded-x" src="/assets/img/testimonials/img5.jpg" alt="">
							<div class="testimonials-desc">
								<p>"We were clients of one of the Big Four companies, and we just weren’t satisfied; we felt like we were caught in a revolving door with staff. We wanted to move to a regional firm, a local firm who was focused on customer service.
									<span class="color-green">Income Perspectives</span> really delivered for us."</p>
								<strong>Sam Erani</strong>
								<span>Buckeye Annuity</span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="testimonials-info rounded-bottom">
							<img class="rounded-x" src="/assets/img/testimonials/img6.jpg" alt="">
							<div class="testimonials-desc">
								<p>“We’re a small to mid-size company and
									<span class="color-green">Income Perspectives</span> is a great match for our business. We connected right away, and their team is very down to earth. We’ve been clients for ten years now, and that’s given us time to build a solid relationship. I trust them to protect our company’s interests.”
								</p>
								<strong>Lisa Paulson</strong>
								<span>Mid-West Financial Planners</span>
							</div>
						</div>
					</div>
				</div><!--/end row-->

				<div class="row margin-bottom-20">
					<div class="col-md-6 md-margin-bottom-50">
						<div class="testimonials-info rounded-bottom">
							<img class="rounded-x" src="/assets/img/testimonials/img3.jpg" alt="">
							<div class="testimonials-desc">
								<p>"I am truly impressed by the service provided by your company; your coordinated and responsive teamwork; and the care and concern for your clients."</p>
								<strong>Wilhelmina Grant</strong>
								<span>Independent Retirement Planner</span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="testimonials-info rounded-bottom">
							<img class="rounded-x" src="/assets/img/testimonials/img2.jpg" alt="">
							<div class="testimonials-desc">
								<p>"With <span class="color-green">Income Perspectives</span> help, I've grown my client list by 300% in the past 18 months. I'm now expanding my business into a new city and plan to double my staff."</p>
								<strong>John Taylor, C.E.O.</strong>
								<span>Pillar Investments</span>
							</div>
						</div>
					</div>
				</div><!--/end row-->
			</div>
			<!-- End Testimonials Wrap -->
		</div><!--/end container-->
	</div>
	<!--=== End Testimonials v6 ===-->

	<!--=== Owl Clients v1 ===-->
	<div class="container content-sm">
		<div class="owl-clients-v1">
			<div class="item">
				<img src="/assets/img/clients4/1.png" alt="">
			</div>
			<div class="item">
				<img src="/assets/img/clients4/2.png" alt="">
			</div>
			<div class="item">
				<img src="/assets/img/clients4/3.png" alt="">
			</div>
			<div class="item">
				<img src="/assets/img/clients4/4.png" alt="">
			</div>
			<div class="item">
				<img src="/assets/img/clients4/5.png" alt="">
			</div>
			<div class="item">
				<img src="/assets/img/clients4/6.png" alt="">
			</div>
			<div class="item">
				<img src="/assets/img/clients4/7.png" alt="">
			</div>
			<div class="item">
				<img src="/assets/img/clients4/8.png" alt="">
			</div>
			<div class="item">
				<img src="/assets/img/clients4/9.png" alt="">
			</div>
		</div>
	</div>
	<!--=== End Owl Clients v1 ===-->

	<script type="text/javascript">
		jQuery(document).ready(function () {
			homeViewHelper.init();
			homeViewHelper.initCounter();
			homeViewHelper.initParallaxBg();
			masterSliderHelper.setup();
			owlCarouselHelper.setup();
		});
	</script>
</div>
