<div data-ng-controller="HomeController as homeController">
	<!--=== Slider ===-->
	<div class="ms-layers-template">
		<!-- masterslider -->
		<div class="master-slider ms-skin-black-2 round-skin" id="masterslider">
			<div class="ms-slide" style="z-index: 10">
				<img src="/assets/lib/masterslider/style/blank.gif" data-src="/assets/img/bg/img2.jpg" alt="">
				<div class="ms-layer ms-promo-info color-light" style="left:15px; top:160px" data-effect="bottom(40)" data-duration="2000" data-delay="700" data-ease="easeOutExpo">Introducing
				</div>

				<div class="ms-layer ms-promo-info ms-promo-info-in color-light" style="left:15px; top:210px" data-effect="bottom(40)" data-duration="2000" data-delay="1000" data-ease="easeOutExpo">
					<span class="color-green">Income</span> Perspectives
				</div>

				<div class="ms-layer ms-promo-sub color-light" style="left:15px; top:310px" data-effect="bottom(40)" data-duration="2000" data-delay="1300" data-ease="easeOutExpo">We offer proven and trusted INDEX ANNUITY and INDEX UL
					<br> financial tools to enhance your client's portfolio.
				</div>


				<a ui-sref="abidTraining" class="ms-layer btn-u" style="left:15px; top:390px" href="#" data-effect="bottom(40)" data-duration="2000" data-delay="1300" data-ease="easeOutExpo">INDEX ANNUITY</a>

				<a ui-sref="ibidTraining" class="ms-layer btn-u btn-u-dark" style="left:150px; top:390px" href="#" data-effect="bottom(40)" data-duration="2000" data-delay="1300" data-ease="easeOutExpo">INDEX UL</a>
			</div>

			<div class="ms-slide" style="z-index: 13">
				<img src="/assets/lib/masterslider/style/blank.gif" data-src="/assets/img/bg/img4.jpg" alt="">

				<img class="ms-layer" src="/assets/lib/masterslider/style/blank.gif" data-src="/assets/img/mockup/white-ipad.png" alt="" style="bottom:-10px; left:15px; width:400px; height: auto;" data-effect="bottom(100)" data-duration="2000" data-ease="easeOutExpo" data-type="image"/>

				<h3 class="ms-layer ms-promo-info-in color-light" style="left:450px; top:170px;" data-effect="right(40)" data-duration="2300" data-delay="1300" data-ease="easeOutExpo">PROVEN</h3>

				<h3 class="ms-layer ms-promo-info-in color-darker" style="left:450px; top:230px" data-effect="left(40)" data-duration="2300" data-delay="1400" data-ease="easeOutBack">TRUSTED</h3>

				<h3 class="ms-layer ms-promo-info-in color-darker" style="left:450px; top:290px" data-effect="left(40)" data-duration="2300" data-delay="1400" data-ease="easeOutBack">AND
					<span class="color-light">SUCCESSFUL</span></h3>

				<a ui-sref="abidTraining" class="ms-layer btn-u" style="left:450px; top:370px" href="#" data-effect="bottom(40)" data-duration="2000" data-delay="1300" data-ease="easeOutExpo">INDEX ANNUITY</a>

				<a ui-sref="ibidTraining" class="ms-layer btn-u btn-u-dark" style="left:580px; top:370px" href="#" data-effect="bottom(40)" data-duration="2000" data-delay="1300" data-ease="easeOutExpo">INDEX UL</a>
			</div>

			<div class="ms-slide" style="z-index: 12">
				<img src="/assets/lib/masterslider/style/blank.gif" data-src="/assets/img/bg/img3.jpg" alt="">

				<!--<div class="ms-layer video-box" style="bottom:125px; right:15px; width:650px; height:370px;" data-type="video" data-effect="rotate3dright(0,30,0,100,r)" data-duration="1500" data-ease="easeOutQuad">-->
				<!--<img class="ms-img-bordered" src="/assets/lib/masterslider/style/blank.gif" data-src="/assets/img/main/img20.jpg" alt="">-->
				<!--<iframe src="https://player.vimeo.com/video/70528799" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
				<!--</div>-->

				<h3 class="ms-layer ms-promo-info color-light" style="left:10px; top:170px" data-effect="bottom(20)" data-duration="2300" data-delay="2300" data-ease="easeOutExpo">AMAZING</h3>

				<h3 class="ms-layer ms-promo-info-in color-light" style="left:10px; top:245px" data-effect="left(100)" data-duration="3300" data-delay="1900" data-ease="easeOutExpo">
					<span class="color-green">RESULTS</span></h3>

				<h3 class="ms-layer normal-title color-light" style="left:10px; top:312px" data-effect="bottom(20)" data-duration="2300" data-delay="2000" data-ease="easeOutExpo">INDEX ANNUITY AND INDEX UL</h3>

				<p class="ms-layer ms-promo-sub ms-promo-sub-in color-light" style="left:10px; top:360px" data-effect="right(40)" data-duration="2300" data-delay="2300" data-ease="easeOutExpo">INSURANCE BASED
					<br> INCOME</p>

				<a ui-sref="abidTraining" class="ms-layer btn-u" style="left:7px; top:440px" href="#" data-effect="bottom(40)" data-duration="2000" data-delay="1300" data-ease="easeOutExpo">INDEX ANNUITY</a>

				<a ui-sref="ibidTraining" class="ms-layer btn-u btn-u-dark" style="left:142px; top:440px" href="#" data-effect="bottom(40)" data-duration="2000" data-delay="1300" data-ease="easeOutExpo">INDEX UL</a>
			</div>
		</div>
		<!-- end of masterslider -->
	</div>
	<!--=== End Slider ===-->

	<!--=== Call To Action ===-->
	<div class="call-action-v1 bg-color-light">
		<div class="container">
			<div class="call-action-v1-box">
				<div class="call-action-v1-in">
					<p>Income Perspectives - turnkey systems to enhance your client's financial assets.</p>
				</div>
				<div class="call-action-v1-in inner-btn page-scroll">
					<a ui-sref="subscribe" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">REGISTER TODAY</a>
				</div>
			</div>
		</div>
	</div>
	<!--=== End Call To Action ===-->

	<script type="text/javascript">
		jQuery(document).ready(function () {
			homeViewHelper.init();
			homeViewHelper.initCounter();
			homeViewHelper.initParallaxBg();
			masterSliderHelper.setup();
			owlCarouselHelper.setup();
		});
	</script>
</div>
