<div data-ng-controller="RegisterController as registerController">
	<div class="breadcrumbs">
		<div class="container">
			<div class="pull-left">
				<h2>{{registerController.view.title}}</h2>
			</div>
			<div class="breadcrumb pull-right">
				<a ui-sref="{{registerController.view.parentSref}}">{{registerController.view.parentTitle}}</a>&nbsp;/&nbsp;<span class="color-green">{{registerController.view.title}}</span>
			</div>
		</div>
	</div>

	<div class="container content">
		<div class="row">
			<div class="col-xs-8">
				<form class="frm-u" name="registerController.regFrm" novalidate>
					<header>Sign up for Income Perspectives</header>
					<fieldset>
						<div class="form-group" bs-has>
							<label for="name-input">Full Name</label>

							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
								<input id="name-input" type="text" name="name" ng-model="registerController.user.name" class="form-control" focus-on="firstOpened" required tabindex="0"/>
							</div>
							<span class="has-error" ng-show="registerController.regFrm.name.$dirty && registerController.regFrm.name.$invalid">
								<span ng-show="registerController.regFrm.name.$error.required">Full Name is required.</span>
							</span>
						</div>

						<div class="form-group" bs-has>
							<label for="email-input">E-mail</label>

							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
								<input id="email-input" type="text" name="email" ng-model="registerController.user.email" class="form-control" required tabindex="0"/>
							</div>
							<span class="has-error" ng-show="registerController.regFrm.email.$dirty && registerController.regFrm.email.$invalid">
								<span ng-show="registerController.regFrm.email.$error.required">E-mail is required.</span>
							</span>
						</div>

						<div class="form-group" bs-has>
							<label for="username-input">Username</label>

							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
								<input id="username-input" type="text" name="username" ng-model="registerController.user.username" class="form-control" required tabindex="0"/>
							</div>
							<span class="has-error" ng-show="registerController.regFrm.username.$dirty && registerController.regFrm.username.$invalid">
								<span ng-show="registerController.regFrm.username.$error.required">Username is required.</span>
							</span>
						</div>

						<div class="form-group" bs-has>
							<label for="password-input">Password</label>

							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
								<input id="password-input" type="password" name="password" ng-model="registerController.user.password" class="form-control" required tabindex="0"/>
							</div>
							<span class="has-error" ng-show="registerController.regFrm.password.$dirty && registerController.regFrm.password.$invalid">
								<span ng-show="registerController.regFrm.password.$error.required">Password is required.</span>
							</span>
						</div>

						<div class="form-group" bs-has>
							<label for="confirm-password-input">Confirm Password</label>

							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
								<input id="confirm-password-input" type="password" name="confirmPassword" ng-model="registerController.user.confirmPassword" class="form-control" required tabindex="0"/>
							</div>
							<span class="has-error" ng-show="registerController.regFrm.confirmPassword.$dirty && registerController.regFrm.confirmPassword.$invalid">
								<span ng-show="registerController.regFrm.confirmPassword.$error.required">Confirm Password is required.</span>
							</span>
						</div>
					</fieldset>
					<footer>
						<input class="btn-u" type="submit" data-ng-click="registerController.register(registerController.user)" value="Register" tabindex="0"/>

						<div ng-repeat="error in registerController.errors">
							<div class="alert alert-danger animated fadeIn"><span>{{error.message}}</span></div>
						</div>
						<hr>
						<h4>Already have an account?</h4>

						<p><a class="green" ui-sref='login'>Click here</a> to login.</p>
					</footer>
				</form>
			</div>
			<div class="col-xs-1">
				<div class="v-align-container">
					<div class="v-align-middle"><p>-OR-</p></div>
				</div>
			</div>
			<div class="col-xs-3">
				<div ng-repeat="(key, val) in registerController.socialButtons" class="frm-social frm-social-{{key}}">
					<a class="color-green" target="_self" ng-href="/api/auth/{{key}}">Login with {{key}}</a>
				</div>
			</div>
		</div>
	</div>
</div>
