<div data-ng-controller="TermsAndConditionsController as termsAndConditionsController">
	<div class="breadcrumbs">
		<div class="container">
			<div class="pull-left">
				<h2>{{termsAndConditionsController.view.title}}</h2>
			</div>
			<div class="breadcrumb pull-right">
				<a ui-sref="{{termsAndConditionsController.view.parentSref}}">{{termsAndConditionsController.view.parentTitle}}</a>&nbsp;/&nbsp;<span class="color-green">{{termsAndConditionsController.view.title}}</span>
			</div>
		</div>
	</div>

	<div class="container content">
		<p>The information in this website and its supporting materials is not intended as tax or legal advice. All information herein has been prepared solely for informational purpose and is not intended to be an offer to buy or sell any security or insurance product. The provided material was developed and produced by Income Perspectives, LLC in order
		   to provide information on a topics that may be of interest to others. However, the opinions expressed and material provided are solely for general information and should not be considered a solicitation for the purchase or sale of any security or insurance product. </p>

		<p>Unless otherwise noted, all videos and presentations are develop and produced by Income Perspectives, LLC. Services mentioned may be offered through advisors or other third parties. </p>

		<p>Please remember, no product or product feature or strategy is suitable for all clients. Clients’ needs, tolerance for risk, short-term and long-term objectives should all be considered prior to providing a recommendation or strategy. </p>
	</div>
</div>
